@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

/*** <--- CIRCLE STYLES ---> ***/
.wrap-circles {
  display: flex;
  /* min-height: 100vh; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: transparent;
}

.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
  text-align: center;
}
.circle.per-95 {
  background-image: conic-gradient(#B5838D 95%, #FFCDB2 0);
}
.circle.per-90 {
  background-image: conic-gradient(#8342EB 90%, #FFCDB2 0);
}
.circle.per-70 {
  background-image: conic-gradient(#EB42DD 70%, #FFCDB2 0);
}
.circle.per-30 {
  background-image: conic-gradient(#BB42EB 30%, #FFCDB2 0);
}
.circle.per-20 {
  background-image: conic-gradient(#4D42EB 20%, #FFCDB2 0);
}
.circle.per-100 {
  background-image: conic-gradient(#EB4278 100%, #FFCDB2 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}